<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178899937937-a9ivnm9i0nf2pgior6pq0ac2a3tftihl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178899937937-a9ivnm9i0nf2pgior6pq0ac2a3tftihl</string>
	<key>API_KEY</key>
	<string>AIzaSyC6SJMtQCzKpW181XFIzHZAjZSvMQ46mEY</string>
	<key>GCM_SENDER_ID</key>
	<string>178899937937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.imageToText</string>
	<key>PROJECT_ID</key>
	<string>fluttertextdetection</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttertextdetection.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178899937937:ios:df6309827d6405647b2d30</string>
</dict>
</plist>